<!--This is the main page when you start-->
<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>Dog Friendly Place Seaching</h1>
        <p>We're here to help you find the best place for your dog!</p>
    </div>
    <ul>
      <li><a href="/BeachComment">Write a comment about a beach!</a></li>
      <br>
    </ul>
<%- include('bootfooter') -%>
